[submodule "pixelopolis_car_app"]
	path = pixelopolis_car_app
	url = https://github.com/thebitstudio/pixelopolis_car_app
[submodule "pixelopolis_ml"]
	path = pixelopolis_ml
	url = https://github.com/thebitstudio/pixelopolis_ml
[submodule "pixelopolis_station_app"]
	path = pixelopolis_station_app
	url = https://github.com/thebitstudio/pixelopolis_station_app
[submodule "pixelopolis_board_app"]
	path = pixelopolis_board_app
	url = https://github.com/thebitstudio/pixelopolis_board_app
